*{
    box-sizing: border-box;
}
body{
    margin: 0px;
}

header{
    background-color: rgb(199, 52, 52);
    text-align:center;
    font-weight: bold;
    font-size: xx-large;
    padding: 30px;
}


footer{
    display: block;
    clear: both;
    background-color: rgb(199, 52, 52);
    text-align:left;
    font-weight: bold;
    font-size: x-large;
    padding: 30px;
    color: aliceblue;
}
body{
    background-color: tomato;
}
  aside{
    width: 50%;
    float: left;
    padding: 10px;
}   
article{
    width: 50%;
    float: left;
    padding: 10px;
}
@media screen and (max-width:600px) {
    aside, section, article{
        width: 100%;
    }
}